.editor-panel {
    height: 80%;
    width: 100%;
}

.title {
    background-color: #eeeeee;
    margin: 0;
    padding: 20px;
}

.mini-cont {
    background-color: #c7c7c7;
    margin: 0;
}

.mini-title {
    background-color: #c7c7c7;
    margin: 0;
    padding: 10px;
}

